@font-face{font-family:"robotoregular";src:url("roboto-regular.ttf") format("opentype");}
html,body{font-family:"robotoregular",sans-serif;color:#000;background:#fff;margin:0;padding:0;text-align:center;}
ul,li{margin:0;padding:0;}
a{color:#000;font-weight:bold;}
h1{font-size:1.6em;font-weight:bold;margin:0;color:#fff;padding:15px 0;margin:0;background-color:#393;text-align:center;}
h3{margin:1em;}
ul li a, ul li span{display:block;padding:1em 0;margin:0;width:100%;text-align:center;background:#eee;border-bottom:solid 1px #999;color:#000;text-decoration:none;font-weight:bold;}
p{text-align:left;padding:0 0.5em;margin:1em auto;font-size:1.2em;max-width:40em;}
.hlavicka{text-decoration:none;}
