@media all{
@font-face{font-family:"robotoregular";src:url("roboto-regular.ttf") format("opentype");}
html,body{font-family:"robotoregular",sans-serif;color:#000;background:#fff;margin:0;padding:0;text-align:center;margin:0;padding:0;}
}

@media screen{
ul,li{margin:0;padding:0;}
a{color:#393;font-weight:bold;}
h1{font-size:1.6rem;font-weight:bold;margin:0;color:#fff;padding:0;margin:0;background-color:#393;text-align:center;position:relative;}
h1 a{color:#fff;display:block;text-decoration:none;background:#393;padding:1rem 3rem;margin:0;}
h1 img{position:absolute;right:0;top:0;padding:1.4rem 0.5rem;background:#393;}
h3{margin:1em;}
ul li a, ul li span{display:block;padding:1em 0;margin:0;width:100%;text-align:center;background:#eee;border-bottom:solid 1px #999;color:#000;text-decoration:none;font-weight:bold;}
p{text-align:left;padding:0 0.5em;margin:1em auto;font-size:1.2em;max-width:45rem;}
p.c{text-align:center;}
.obrazek{max-width:45rem;padding:0;margin:0 auto;diplay:block;background:#eee;}
.obrazek a{display:block;font-size:0;}
.obrazek p{margin:0 0 1em 0;padding:0.5em;}
.hlavicka{text-decoration:none;}
#q{margin:0;padding:0;border:0;width:100%;font-size:1.3em;line-height:2;height:4rem;}
#q::-webkit-search-cancel-button{position:relative;right:0.5rem;height:3rem;width:3rem;}
.vysledek{color:#fff;background:#393;border-bottom:solid 1px #eee;}
#star{position:absolute;left:0;top:0;padding:1rem 0.5rem;background:#393;width:2rem;height:2rem;}
.bm{display:inline-block;}
.bm:after, h2.bookmark:after{content:'';display:inline-block;width:2em;height: 1em;background:url(star.svg) no-repeat 50% 50%;background-size:1em;}
}

@media screen and (min-width: 30em){
ul{display:flex;justify-content:start;flex-wrap:wrap;}
ul li{flex: 0 0 50%;display:flex;justify-content:center;}
ul li a{flex-grow:1;border-bottom:1px solid #999;border-right:1px solid #999;background:#eee;color:#000;display:flex;justify-content:center;align-items:center;padding:2rem 3rem;}
ul li:nth-child(2n+2) a{border-right:0;}
}

@media screen and (min-width: 55em){
ul li a{padding:2rem;}
ul{background:#eee;}
ul li{flex: 0 0 25%;}
ul.nav li{flex: 0 0 50%;}
ul li:nth-child(2n+2) a{border-right:1px solid #999;}
ul li:nth-child(4n+4) a{border-right:0;}
}
